<div>
    <p>@Message</p>

    <button class="btn btn-primary" @onclick="CloseAsync">確認</button>
</div>

@code {
    [CascadingParameter]
    protected BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public string? Message { get; set; }

    private async Task CloseAsync()
    {
        await BlazoredModal.CloseAsync();
    }
}
